# Ignore pyc
*.pyc
**/__pycache__

# Ignore Vim undo log
*.un~
*.swp

# Ignore VS Code settings
.vscode/

# Ignore build directory
build/

# Ignore dev-use server applications
app.py
docstring.template.py
make.bat
Makefile
run.sh

# Ignore unpublished documentation
source/api/
source/references/

